app-accountkitchen, div[data-is=app-accountkitchen]
{
  display: block;

  div.header
  {
    padding-top: $space-normal;
    background-color: $color-back-secondary;
    &>div {
      width: 80%;
      margin: auto;
      padding-top: $space-normal;
      div.img {
        display: inline-block;
        $side : 80px;
        width: $side;
        height: $side;
        border-radius: 100%;

        background-size: cover;
        background-position: center;

        margin: auto;
        margin-top: 0;
        margin-bottom: 0;

        vertical-align: top;
        @media screen and (max-width: 528px) {
          display: block;
          margin-bottom: $space-normal;
        }
      }

      div.identity {
        display: inline-block;
        font-family: $font-primary;
        width: 320px;
        overflow: hidden;
        text-wrap: normal;
        line-break: normal;
        word-break: break-all;
        white-space: wrap;
        padding: $space-normal;
        padding-top: 0;

        @media screen and (max-width: 528px) {
          display: block;
          margin: auto;
          text-align: center;
        }

        li {
          margin-bottom: $space-small;

          a {
            cursor: pointer;
          }
        }
      }
    }


  }

  div.comments
  {
    width: 100%;
    margin: $space-small;
    padding: $space-normal;
  }
}