app-accountrecipes, div[data-is=app-accountrecipes] {
  section.header {
    padding: $space-normal;
    padding-top: $space-normal;

    &>div
    {
      text-align: center;
    }
  }

  div nav
  {
    padding: $space-normal;

    a{
      cursor: pointer;
      font-family: $font-primary;
      text-decoration: underline;
      margin-right: $space-normal;
    }
  }

  div.SwitchHandler
  {
    width: 100%;
    text-align: center;
  }

  app-recipes
  {
    width: 100%;
    margin: $space-normal;
  }
}