div[data-is=app-accountreservations]
{

    table 
    {
        margin-top: $space-normal;
        margin-bottom: $space-normal;
    }
    
    div.SwitchHandler
    {
      width: 100%;
      text-align: center;
    }

    @media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
        /*
        Label the data
        */
        td:nth-of-type(1):before { content: "Identifiant"; }
        td:nth-of-type(2):before { content: "Hôte"; }
        td:nth-of-type(3):before { content: "Invité"; }
        td:nth-of-type(4):before { content: "Montant"; }
        td:nth-of-type(5):before { content: "Action"; }
    }
}