app-accountrecipes, div[data-is=app-accountrecipes] {
  section.header {
    padding: $space-normal;
    padding-top: $space-normal;

    &>div
    {
      text-align: center;
    }
  }

  div nav
  {
    padding: $space-normal;

    a{
      cursor: pointer;
      font-family: $font-primary;
      text-decoration: underline;
      margin-right: $space-normal;
    }
  }

  div.SwitchHandler
  {
    width: 100%;
    text-align: center;
  }

  app-recipes
  {
    width: 100%;
    margin: $space-normal;
  }

  table 
  {
    margin: $space-normal;
  }

  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
      /*
      Label the data
      */
      td:nth-of-type(1):before { content: "Nom"; }
      td:nth-of-type(2):before { content: "Participants"; }
      td:nth-of-type(3):before { content: "Action"; }
  }
}