app-searcher
{
  $img-size: 100px;

  display: block;
  //background-color: $color-back-secondary;
  background-image: $image-back-primary;
  padding: $space-normal;
  text-align: center;

  border: $border-normal;
  border-radius: 2px;

  position: relative;;
  z-index: 1;

  h1, h2
  {
    margin-bottom: 5px;
    padding: 0;

    background-image: none;
  }

  div.img
  {
    width: $img-size;
    height: $img-size;

    display: block;
    margin: auto;

    background-image: url("/static/images/dish.svg");
    background-size: auto 120%;
    background-position: center -15px;

    vertical-align: top;
    padding: 0;
  }

  &>div div
  {
    display: inline-block;
    vertical-align: top;
    padding: $space-small;
    padding-top: 0;
  }

  &>form
  {
    display: inline-block;
    vertical-align: top;
    padding: $space-small;
    //padding-left: $img-size+$space-small;

    *
    {
      margin-bottom: $space-small;
      margin-right: $space-small;
    }

    app-placeinput, app-origininput, app-dateinput, input[type=text], input[type=number]
    {
      display: inline-block;
      width: 170px !important;
    }

    input[type=button]
    {
      vertical-align: top;
    }

    @media screen and (max-width: 560px) {
      text-align: center;
    }
  }

  h3
  {
    font-family: $font-secondary;
    margin-bottom: $space-small;
  }
}