app-footer,
div[data-is=app-footer] {
    display: block;
    width: 100%;
    text-align: center;
    padding: $space-normal;
    &>div {
        display: inline-block;
        vertical-align: top;
        font-size: $font-size-normal;
        text-align: left;
        margin-left: $space-big;
        h3 {
            margin-bottom: $space-normal; 
        }
        ul {
            li {
                margin-bottom: $space-small;
            }
        }
        @media screen and (max-width: 650px) {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: $space-big;
            
            ul
            {
                display: inline-block;
                text-align: left;
            }
        }
    }
}