app-footer,
div[data-is=app-footer] {
    display: block;
    width: 100%;
    text-align: center;
    padding: $space-normal;


    background-image:  url("/static/images/black_paper.png");
    background-repeat: repeat;





    &>div {
        display: inline-block;
        vertical-align: top;
        font-size: $font-size-normal;
        text-align: left;
        margin-left: $space-big;
        h3 {
            margin-bottom: $space-normal;
            color: $color-text-secondary;
        }
        ul {
            li {
                color: $color-text-secondary;
                margin-bottom: $space-small;
                list-style-type: none;
                margin-left: 0;

                a{
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
        @media screen and (max-width: 710px) {
            display: block;
            width: 100%;
            text-align: center;
            margin-top: $space-normal;
            margin-bottom: $space-big;
            margin-left:0;
            
            ul
            {
                display: inline-block;
                text-align: left;
            }
        }

    }

    &>div.portfolios
    {
        margin-top: $space-normal;
        color: $color-text-secondary;
        a{
            color: $color-front-peach;
        }
    }
}