app-header, div[data-is=app-header]
{
    display: block;
    width: 100%;
    height: 70px;

    position: relative;

    padding: $space-normal;
    padding-top: $space-small;
    padding-bottom: $space-small;

    background-color: $color-back-primary;

    &>div.img
    {
        display: inline-block;
        width: 150px;
        height: 100%;
        cursor: pointer;

        background-image: url("/static/images/logo-noir.svg");
        background-size: 150% 150%;
        background-position: center;
        background-repeat:no-repeat;
    }

    &>nav 
    {
        display: inline-block;
        padding: 0 !important;
        position: absolute;
        right: $space-normal;

        &>a
        {
            margin-right:$space-normal;
            cursor: pointer;
        }

        div.img
        {
            display: inline-block;
            vertical-align: middle;
            margin-left: $space-small;
            width: 45px;
            height: 45px;
            border-radius: 2px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            transition: all 0.2s ease;
            &:hover
            {
                transform: scale(1.1,1.1);
            }
        }
    }

    @media screen and (max-width: 560px) {
        a.Action
        {
            display: none;
        }
    }
}