app-header, div[data-is=app-header]
{
    display: block;
    width: 100%;
    height: 70px;

    position: relative;

    padding: $space-normal;
    padding-top: $space-small;
    padding-bottom: $space-small;

    background-color: $color-back-primary;

    &>div.img
    {
        display: inline-block;
        width: 150px;
        height: 100%;

        background-image: url("/static/images/logo-noir.svg");
        background-size: 150% 150%;
        background-position: center;
        background-repeat:no-repeat;
    }

    &>nav 
    {
        display: inline-block;
        position: absolute;
        right: $space-normal;
    }
}