app-header, div[data-is=app-header]
{
    $height: 100px;

    display: block;
    width: 100%;
    height: $height+$space-small;

    position: relative;

    padding: $space-normal;
    padding-top: $space-small;
    padding-bottom: $space-small;

    background-color: $color-back-primary;

    border-bottom: $border-normal;

    &>div.img
    {
        display: inline-block;
        width: 150px;
        height: 100%;
        cursor: pointer;

        background-image: url("/static/images/logo-noir.svg");
        background-size: 160% 160%;
        background-position: center;
        background-repeat:no-repeat;

        transition: all 0.2s ease;
        &:hover
        {
            transform: scale(1.1,1.1);
        }
    }

    &>nav 
    {
        display: inline-block;
        padding: 0 !important;
        position: absolute;
        right: $space-normal;
        height: $height;
        line-height: $height;
        vertical-align: middle;

        &>a
        {
            margin-right:$space-normal;
            cursor: pointer;
            text-decoration: none !important;
        }

        div.img
        {
            display: inline-block;
            vertical-align: middle;
            margin-left: $space-small;
            width: 45px;
            height: 45px;
            border-radius: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            transition: all 0.2s ease;
            &:hover
            {
                transform: scale(1.1,1.1);
            }
        }
    }

    @media screen and (max-width: 680px) {
        a.Action
        {
            display: none;
        }
    }

    @media screen and (max-width: 390px) {
        height: auto;
        &>div.img
        {
            display: block;
            width: 150px;
            height: $height;
            cursor: pointer;
            margin: auto;
    
            background-image: url("/static/images/logo-noir.svg");
            background-size: 160% 160%;
            background-position: center;
            background-repeat:no-repeat;
    
            transition: all 0.2s ease;
            &:hover
            {
                transform: scale(1.1,1.1);
            }
        }
        nav
        {
            display: block;
            position: relative;
            margin: 0;
            right: 0;
            width: 100%;
            text-align: center;
        }
    }
}