app-recipe, div[data-is=app-recipe]
{
    div.infos
    {
        display: inline-block;
        vertical-align: top;
        width: 65%;
        @media screen and (max-width: 650px) {
            display: block;
            width: 100%;
        }

        div.banner
        {
            width: 100%;
            height:  105px;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        div.base
        {
            margin: $space-normal;
            div.name
            {
                margin-bottom: $space-normal;

                h1
                {
                    display: inline-block;
                    width: auto;
                    font-size: $font-size-big*2;
                    vertical-align: middle;
                }
                &>div
                {
                    vertical-align: middle;
                    margin-top: $space-small;
                    margin-bottom: $space-small;
                    display: inline-block;
                }
            }
        }

        div.geolocation
        {
            width: 100%;
            margin: $space-normal;
            
        }

        div.details
        {
            margin: $space-normal;
            h2
            {
                font-size: $font-size-big;
            }

            ul
            {
                padding-left: $space-big;
                list-style: initial;
                list-style-type: disc;
            
            }
        }
    }

    div.user
    {
        display: inline-block;
        width: 25%;
        @media screen and (max-width: 650px) {
            display: block;
            width: 100%;
        }

        div.join
        {
            text-align: center;
            min-width: 210px;
            h2
            {
                font-size: $font-size-big;
            }

            .price
            {
                margin:0;
                margin-bottom: $space-small;;
            }

            .price+div
            {
                font-weight: bold;
                margin-bottom: $space-small;;
                
            }

            form div input[type=checkbox]
            {
                margin-bottom: $space-small;
            }

            input[type=button]
            {
                margin-top: $space-small;
            }
        }
    }
}