app-recipeeditform, div[data-is=app-recipeeditform]
{

  div.dropzone
  {
      margin-top: $space-normal;
  }

  display: block;
  &>form {
    text-align: center;
    & > section {
      display: block;
      text-align: left;
      width: 100%;
      vertical-align: top;
      min-width: 380px;

      padding: $space-normal;

    }
    margin-bottom: $space-normal;
  }



  div.picture
  {
      div.img
      {
        margin-top: $space-small;
        border: 1px solid black;
        width: 100%;
        height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 20px;
      }
  }

}