app-recipe, div[data-is=app-recipe]
{

    div.banner
    {
        display: block;
        width: 100%;
        height:  150px;

        position: relative;
        z-index: 1;

        background-size: 0 0;
        background-repeat: no-repeat;
        background-position: center;

        overflow: hidden;

        &::after
        {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            background-image: inherit;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

        }

        &::before
        {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            background-image: inherit;
            background-size: cover;
            background-position: center;

            filter : blur(15px);
            -webkit-filter: blur(15px);
        }
    }

    div.infos
    {
        display: inline-block;
        padding: $space-big;
        vertical-align: top;
        width: 65%;
        @media screen and (max-width: 650px) {
            display: block;
            width: 100%;
        }



        div.base
        {

            div.name
            {

                h1
                {
                    display: inline-block;
                    width: auto;
                    font-size: $font-size-big*2;
                    background-color: transparent;
                    color: $color-text-primary;
                    height: 56px;
                    padding: 0;
                }

                &>div
                {
                    vertical-align: middle;
                    display: inline-block;
                    height: 56px;

                    padding-top: 7px;
                }
            }

            div.description
            {
            }
            padding-bottom: $space-small;
            border-bottom: 1px dotted $color-front-peach;
        }

        div.geolocation
        {
            width: 100%;
            margin-top: $space-normal;
            padding-bottom: $space-small;
            border-bottom: 1px dotted $color-front-peach;
        }

        div.details
        {
            margin-top: $space-normal;
            h2
            {
                font-family: $font-secondary;
            }

            ul
            {
                padding-left: $space-big;
                list-style: disc;

            }
        }
    }

    div.user
    {
        display: inline-block;
        width: 25%;
        @media screen and (max-width: 650px) {
            display: block;
            width: 100%;
        }

        div.join
        {
            text-align: center;
            min-width: 210px;
            background-color: $color-front-straw;
            padding: $space-normal;
            h2
            {
                font-family: $font-secondary;
                color: $color-back-primary;
            }

            .price
            {
                width: 100px;
                height: 100px;
                line-height: 100px;
                background-color: $color-back-primary;
                color: $color-front-straw;
                font-size: 30px;
                font-weight: bold;
                font-family: $font-primary;
                margin:0;
                margin-bottom: $space-normal;
            }

            .price+div
            {
                font-weight: bold;
                font-family: $font-primary;
                color:$color-back-primary;
                margin-bottom: $space-small;;
                
            }

            form
            {
                display: block;
                width: 100%;
                text-align: left;
                div{
                    color: $color-back-primary;
                }
                input[type=button]
                {
                    background-color: $color-front-peach;
                }
            }
        }
    }
}