app-recipeitem, div[data-is=app-recipeitem] {

  $width: 220px;
  display: inline-block;
  width: $width;
  margin-top: $space-big + $space-normal;

  border-radius: $border-radius;

  vertical-align: top;

  margin-right:  $space-normal;

  cursor : pointer;


  h1
  {
    background: none;
    display: block;
    margin: 5px;
    padding: 0;
  }

  div.recipe
  {
    background-color: $color-front-straw;
    position: relative;
    padding: 10px;

    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;


    div.img
    {

      display: block;
      margin: auto;

      position: relative;
      top: -50px;


      border-radius: 100%;
      width: 100px;
      height: 100px;

      background-size: cover;
      background-position: center;


    }

    div
    {
      overflow: hidden;
      margin: 5px;
    }

    h1:first-of-type
    {
      margin-top: -45px;
    }

  }

  div.user
  {
    //text-align: left;
    overflow: hidden;
    padding: 10px;

    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;


    background-image: url("/static/images/black_paper.png");

    div.img
    {

      display: block;
      margin: auto;
      margin-bottom: 5px;

      border-radius: 100%;
      width: 50px;
      height: 50px;

      background-size: cover;
      background-position: center;


    }

    div.name
    {


      margin-left: 10px;

      *
      {
        color: white;

        margin: 0;

      }

      //width: $width - 55px;
    }


  }

}