app-recipeeditform, div[data-is=app-recipeeditform]
{
  display: block;
  &>form {
    text-align: center;
    & > section {
      display: block;
      text-align: left;
      width: 100%;
      vertical-align: top;
      min-width: 380px;

      padding: $space-normal;

    }
    margin-bottom: $space-normal;
  }
}