@charset "UTF-8";
/**
 Importation des polices
**/
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: "Lobster";
  src: url("/static/fonts/LobsterTwo-Regular.ttf"); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 Importation des polices
**/
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: "Lobster";
  src: url("/static/fonts/LobsterTwo-Regular.ttf"); }

.invisible {
  display: none !important; }

div#app {
  min-height: 100%; }

.content {
  min-width: 320px;
  max-width: 900px;
  min-height: 100%;
  width: 80%;
  margin: auto;
  margin-bottom: 20px; }
  .content.no-margin {
    width: 100%;
    max-width: 100%; }

@keyframes loading {
  0% {
    left: -300px;
    background-color: #FDC279; }
  50% {
    left: 150%;
    background-color: #F3B1A6; }
  100% {
    left: -300px;
    background-color: #FDC279; } }

div#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5); }
  div#loading:before {
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FDC279;
    animation: loading 2s infinite; }

div#popup {
  box-sizing: border-box;
  position: fixed;
  min-width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 2px;
  z-index: 1;
  border: 1px solid #FDC279;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  padding-top: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90%; }
  div#popup::after {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    content: attr(data-name);
    font-family: "Raleway";
    padding: 8px;
    font-size: 26px;
    background-color: #FDC279;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  div#popup div.close {
    content: "🞩";
    display: inline-block;
    position: absolute;
    z-index: 2;
    display: inline-block;
    top: 0;
    right: 0;
    font-size: 26px;
    text-align: right;
    padding-top: 8px;
    padding-right: 8px;
    color: #ffffff;
    cursor: pointer; }

div#hidder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

h1 {
  font-size: 26px;
  font-family: "Lobster";
  margin-bottom: 20px;
  padding: 8px;
  padding-left: 0; }

h2 {
  font-family: "Raleway";
  font-size: 20px;
  margin-bottom: 20px; }

section {
  border-bottom: 2px dotted #F3B1A6;
  margin-bottom: 20px; }

table {
  table-layout: fixed;
  width: 100%; }
  table thead tr td {
    font-weight: bold;
    border-bottom: 1px dotted black; }
  table tr {
    border-bottom: 1px dotted black; }
  table.dark tr {
    border-bottom: 1px dotted white; }
  table.dark a {
    color: #f2f4f3; }
  table tr:last-of-type {
    border: 0; }
  table td {
    font-family: "Raleway";
    padding: 8px; }
  table td:last-of-type {
    text-align: right; }

img.profile {
  border-radius: 100%;
  width: 75px;
  height: 75px; }

.price {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #FDC279;
  color: #ffffff;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
  margin-left: 8px; }

p {
  font-family: "Raleway"; }

a.onclick {
  cursor: pointer; }

a.Button {
  display: inline-block;
  width: 60px;
  height: 45px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: auto 70%;
  transition: all 0.2s ease; }
  a.Button:hover {
    transform: scale(1.2, 1.2); }
  a.Button > span {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    font-size: 14px; }
  a.Button.register {
    background-image: url("/static/images/chef.svg"); }
    a.Button.register > span {
      color: #DED479; }
  a.Button.login {
    background-image: url("/static/images/on.svg"); }
    a.Button.login > span {
      color: #F3B1A6; }
  a.Button.fb {
    background-position: center;
    background-size: auto 250%;
    background-image: url("/static/images/facebook.svg"); }
    a.Button.fb > span {
      color: transparent; }
  a.Button.twitter {
    background-position: center;
    background-size: auto 250%;
    background-image: url("/static/images/twitter.svg"); }
    a.Button.twitter > span {
      color: transparent; }
  a.Button.insta {
    background-position: center;
    background-size: auto 250%;
    background-image: url("/static/images/instagram.svg"); }
    a.Button.insta > span {
      color: transparent; }
  a.Button.youtube {
    background-position: center;
    background-size: auto 250%;
    background-image: url("/static/images/youtube.svg"); }
    a.Button.youtube > span {
      color: transparent; }

a.Action {
  display: inline-block;
  height: 45px;
  vertical-align: middle;
  cursor: pointer;
  padding: 8px;
  padding-top: 0;
  padding-left: 30px;
  background-color: #FDC279;
  background-image: url("/static/images/add.svg");
  background-size: 20px 20px;
  background-position: 8px;
  background-repeat: no-repeat;
  border-radius: 15px;
  text-decoration: none;
  font-family: "Raleway";
  transition: all 0.2s ease; }
  a.Action > span {
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    font-size: 14px;
    color: #ffffff;
    font-family: "Raleway"; }
  a.Action:hover {
    transform: scale(1.1, 1.1); }

input[type=button] {
  display: inline-block;
  margin: 8px;
  box-sizing: border-box;
  background-color: #F3B1A6;
  border: 1px solid #EA968B;
  color: #ffffff;
  padding: 8px;
  border-radius: 15px;
  text-align: center;
  transition: all 0.2s ease; }
  input[type=button].large {
    display: block;
    width: 90%;
    height: 40px;
    text-align: center;
    margin: auto;
    margin-top: 20px; }
  input[type=button]:hover {
    transform: scale(1.1, 1.1); }
  input[type=button].peach {
    background-color: #FDC279;
    border: 1px solid #EA968B; }
  input[type=button]:hover {
    background-color: #DED479;
    border: 1px solid #C1B449; }

.Pins {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  line-height: 30px;
  text-align: center;
  vertical-align: top;
  margin-left: 8px;
  color: transparent;
  padding-left: 10px;
  font-family: "Raleway";
  transition: all 0.1s ease; }
  .Pins:hover, .Pins:active, .Pins.open {
    width: auto;
    color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px; }
    .Pins:hover span, .Pins:active span, .Pins.open span {
      color: #ffffff; }
  .Pins::first-letter {
    display: block;
    color: #ffffff; }
  .Pins span {
    font-size: 14px;
    vertical-align: middle;
    color: transparent; }
  .Pins:nth-of-type(3n) {
    background-color: #FDC279; }
  .Pins:nth-of-type(3n+1) {
    background-color: #F3B1A6; }
  .Pins:nth-of-type(3n+2) {
    background-color: #DED479; }

input[type=text], select, input[type=password], textarea, .selectize-input, input[type=number] {
  padding: 10px !important;
  border-radius: 10px !important;
  border: 1px solid #b8b8b8 !important;
  background-image: linear-gradient(to bottom, #fefefe, #f2f2f2) !important;
  color: #808080 !important;
  text-align: left !important;
  box-sizing: border-box !important;
  resize: none;
  display: block;
  width: 90% !important;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-family: Raleway;
  font-size: 13px; }
  input[type=text].selectize-input, select.selectize-input, input[type=password].selectize-input, textarea.selectize-input, .selectize-input.selectize-input, input[type=number].selectize-input {
    width: 100% !important; }
  input[type=text].picker__input, select.picker__input, input[type=password].picker__input, textarea.picker__input, .selectize-input.picker__input, input[type=number].picker__input {
    font-family: Raleway;
    font-size: 13px; }

.selectize-control {
  width: 90% !important;
  display: block !important;
  margin: auto !important;
  margin-top: 8px;
  margin-bottom: 8px; }
  .selectize-control div.selectized {
    display: inline-block; }

input[type=text].error, input[type=number].error, textarea.error, select.error,
app-dateinput.error input, app-manyinputs.error input[type=text], app-origininput.error div.selectize-input, app-pinsinput.error div.selectize-input, app-placeinput.error div.selectize-input {
  border-color: red !important; }

label {
  font-size: 16px;
  font-family: 'Raleway', sans-serif; }

div label + * + p {
  font-size: 14px;
  text-align: center;
  margin-top: 8px; }
  div label + * + p.hint {
    display: none; }

div label + .error + p.hint {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  text-align: center; }

app-hearts {
  display: inline-block;
  width: 200px;
  height: 40px;
  vertical-align: middle;
  margin: 8px;
  text-align: center; }
  app-hearts > div {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat; }
  app-hearts .empty {
    background-image: url("/static/images/heart_vide.svg"); }
  app-hearts .full {
    background-image: url("/static/images/heart_plein.svg"); }

.stain {
  display: inline-block;
  background-position: center center;
  background-size: contain;
  padding: 60px;
  text-align: center; }
  .stain div {
    font-family: "Lobster"; }
  .stain span {
    font-size: 9px;
    font-family: "Raleway"; }
  .stain.avocado {
    background-image: url("/static/images/tache-avocat.svg"); }
  .stain.peach {
    background-image: url("/static/images/tache-passion.svg"); }
  .stain.straw {
    background-image: url("/static/images/tache-fraise.svg"); }

span.Switch {
  display: inline-block;
  background-color: #F3B1A6;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ef9587; }
  span.Switch a {
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway';
    letter-spacing: 2px;
    color: #e7624c;
    font-size: 12px; }
    span.Switch a.selected {
      color: white;
      background-color: #DED479;
      border: 1x solid #d4c750; }
    span.Switch a:hover {
      color: white; }

/** Importation des styles des tags **/
app-adminreports div.search, div[data-is=app-adminreports] div.search {
  background-image: url("/static/images/black_paper.png");
  padding: 20px;
  text-align: center; }
  app-adminreports div.search form, div[data-is=app-adminreports] div.search form {
    margin: auto;
    max-width: 900px;
    padding: 20px;
    margin-top: 20px; }
    app-adminreports div.search form h2, div[data-is=app-adminreports] div.search form h2 {
      width: 100%;
      color: #f2f4f3; }
    app-adminreports div.search form table td, div[data-is=app-adminreports] div.search form table td {
      color: #f2f4f3; }
  app-adminreports div.search input[type=button], div[data-is=app-adminreports] div.search input[type=button] {
    display: inline-block; }

div[data-is=app-adminpins] a.Action, div[data-is=app-adminorigins] a.Action {
  display: block;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; }

app-home, div[data-is=app-home] {
  display: block; }
  app-home div.content, div[data-is=app-home] div.content {
    padding-bottom: 0;
    margin-bottom: 0; }
  app-home div.slider, div[data-is=app-home] div.slider {
    background-image: url("/static/images/Image home.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px; }
  app-home div.ask, div[data-is=app-home] div.ask {
    background-image: url("/static/images/fond1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    color: #e3dfd6;
    padding: 20px; }
    app-home div.ask > div, div[data-is=app-home] div.ask > div {
      width: 320px;
      overflow: hidden;
      margin: auto; }
    app-home div.ask h1, div[data-is=app-home] div.ask h1 {
      color: #e3dfd6; }
    app-home div.ask p, div[data-is=app-home] div.ask p {
      color: #e3dfd6;
      display: block; }
    app-home div.ask a, div[data-is=app-home] div.ask a {
      margin-top: 20px;
      font-family: "Raleway"; }
  app-home div.whom, div[data-is=app-home] div.whom {
    display: block;
    margin: auto;
    max-width: 800px;
    padding: 40px; }
    app-home div.whom > div, div[data-is=app-home] div.whom > div {
      text-align: center; }
  app-home div.description, div[data-is=app-home] div.description {
    background-image: url("/static/images/vintage-concrete.png");
    padding: 20px;
    text-align: center; }
    app-home div.description div.tab, div[data-is=app-home] div.description div.tab {
      display: inline-block;
      padding: 20px; }
      app-home div.description div.tab div.img, div[data-is=app-home] div.description div.tab div.img {
        display: block;
        width: 100%;
        height: 100px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; }
      app-home div.description div.tab.share div.img, div[data-is=app-home] div.description div.tab.share div.img {
        background-image: url("/static/images/conversation.svg"); }
      app-home div.description div.tab.trust div.img, div[data-is=app-home] div.description div.tab.trust div.img {
        background-image: url("/static/images/heart_plein.svg"); }
      app-home div.description div.tab.kitchen div.img, div[data-is=app-home] div.description div.tab.kitchen div.img {
        background-image: url("/static/images/cooking.svg"); }

app-accountkitchen, div[data-is=app-accountkitchen] {
  display: block; }
  app-accountkitchen div.header, div[data-is=app-accountkitchen] div.header {
    padding-top: 20px;
    background-image: url("/static/images/vintage-concrete.png"); }
    app-accountkitchen div.header h2, div[data-is=app-accountkitchen] div.header h2 {
      font-weight: bold; }
    app-accountkitchen div.header > div, div[data-is=app-accountkitchen] div.header > div {
      width: 80%;
      margin: auto;
      padding-top: 0; }
      app-accountkitchen div.header > div div.img, div[data-is=app-accountkitchen] div.header > div div.img {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-size: cover;
        background-position: center;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: top; }
        @media screen and (max-width: 528px) {
          app-accountkitchen div.header > div div.img, div[data-is=app-accountkitchen] div.header > div div.img {
            display: block;
            margin-bottom: 20px; } }
      app-accountkitchen div.header > div div.identity, div[data-is=app-accountkitchen] div.header > div div.identity {
        display: inline-block;
        font-family: "Raleway";
        width: 320px;
        overflow: hidden;
        text-wrap: normal;
        line-break: normal;
        word-break: break-all;
        white-space: wrap;
        padding: 20px;
        padding-top: 0; }
        @media screen and (max-width: 528px) {
          app-accountkitchen div.header > div div.identity, div[data-is=app-accountkitchen] div.header > div div.identity {
            display: block;
            margin: auto;
            text-align: center; } }
        app-accountkitchen div.header > div div.identity li, div[data-is=app-accountkitchen] div.header > div div.identity li {
          margin-bottom: 0; }
          app-accountkitchen div.header > div div.identity li a, div[data-is=app-accountkitchen] div.header > div div.identity li a {
            cursor: pointer;
            font-size: 14px; }
  app-accountkitchen div.comments, div[data-is=app-accountkitchen] div.comments {
    width: 100%;
    margin: 8px;
    padding: 20px; }

app-accountrecipes section.header, div[data-is=app-accountrecipes] section.header {
  margin-top: 20px;
  padding: 20px; }
  app-accountrecipes section.header > div, div[data-is=app-accountrecipes] section.header > div {
    text-align: center; }

app-accountrecipes div nav, div[data-is=app-accountrecipes] div nav {
  padding: 20px; }
  app-accountrecipes div nav a, div[data-is=app-accountrecipes] div nav a {
    cursor: pointer;
    font-family: "Raleway";
    text-decoration: underline;
    margin-right: 20px; }

app-accountrecipes div.SwitchHandler, div[data-is=app-accountrecipes] div.SwitchHandler {
  width: 100%;
  text-align: center; }

app-accountrecipes app-recipes, div[data-is=app-accountrecipes] app-recipes {
  width: 100%;
  margin: 20px; }

app-useritem, div[data-is=app-useritem] {
  display: block;
  padding: 20px;
  min-width: 210px;
  background-image: url("/static/images/black_paper.png");
  color: #ffffff; }
  app-useritem div.head, div[data-is=app-useritem] div.head {
    margin-bottom: 20px;
    text-align: center; }
    app-useritem div.head img, div[data-is=app-useritem] div.head img {
      display: inline-block;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      margin-bottom: 20px; }
    app-useritem div.head > div, div[data-is=app-useritem] div.head > div {
      display: block;
      padding-left: 8px;
      vertical-align: top; }
      app-useritem div.head > div span, div[data-is=app-useritem] div.head > div span {
        display: inline-block;
        font-size: 20px;
        width: 100%;
        vertical-align: middle;
        color: #ffffff; }
  app-useritem div.body, div[data-is=app-useritem] div.body {
    margin-bottom: 20px; }
    app-useritem div.body app-hearts, div[data-is=app-useritem] div.body app-hearts {
      display: block;
      margin: auto;
      width: 100%; }
  app-useritem div.style, div[data-is=app-useritem] div.style {
    margin-bottom: 20px;
    text-align: center; }
    app-useritem div.style span:first-of-type, div[data-is=app-useritem] div.style span:first-of-type {
      display: block;
      font-size: 14px;
      color: #ffffff; }
    app-useritem div.style span:last-of-type, div[data-is=app-useritem] div.style span:last-of-type {
      font-size: 26px;
      color: #ffffff;
      font-family: "Lobster"; }
  app-useritem div.style + div, div[data-is=app-useritem] div.style + div {
    text-align: center; }
    app-useritem div.style + div div.pins:hover, app-useritem div.style + div div.pins:active, div[data-is=app-useritem] div.style + div div.pins:hover, div[data-is=app-useritem] div.style + div div.pins:active {
      color: #191d1c; }
    app-useritem div.style + div div.pins::first-letter, div[data-is=app-useritem] div.style + div div.pins::first-letter {
      color: #191d1c; }
  app-useritem div.foot input, div[data-is=app-useritem] div.foot input {
    background-color: #FDC279;
    color: #191d1c; }

app-usereditform form > div, div[data-is=app-usereditform] form > div {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 2px dotted #FDC279; }

app-usereditform div input + p, div[data-is=app-usereditform] div input + p {
  font-size: 14px;
  text-align: center; }

app-usereditform > div > div, div[data-is=app-usereditform] > div > div {
  margin-bottom: 20px; }

app-usereditform div.base > div, app-usereditform div.more > div, div[data-is=app-usereditform] div.base > div, div[data-is=app-usereditform] div.more > div {
  margin-bottom: 20px; }

app-usereditform div.banner, div[data-is=app-usereditform] div.banner {
  margin-bottom: 20px; }
  app-usereditform div.banner > div.img, div[data-is=app-usereditform] div.banner > div.img {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px; }

app-usereditform div.picture > div.img, div[data-is=app-usereditform] div.picture > div.img {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  margin-bottom: 20px; }

app-usereditform div.submit, div[data-is=app-usereditform] div.submit {
  margin-bottom: 20px; }

app-user div.content, div[data-is=app-user] div.content {
  margin-bottom: 0; }

app-user > div h1, div[data-is=app-user] > div h1 {
  color: #191d1c;
  background-color: transparent;
  padding-left: 0;
  margin-bottom: 8px; }

app-user > div div.banner, div[data-is=app-user] > div div.banner {
  display: block;
  width: 100%;
  height: 190px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

app-user > div div.head, div[data-is=app-user] > div div.head {
  margin-top: -68px;
  padding: 20px; }
  app-user > div div.head > img, div[data-is=app-user] > div div.head > img {
    display: inline-block;
    width: 114px;
    height: 114px;
    border-radius: 100%; }
  app-user > div div.head > div, div[data-is=app-user] > div div.head > div {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px; }
    app-user > div div.head > div.identity span, div[data-is=app-user] > div div.head > div.identity span {
      display: block;
      font-size: 16px;
      font-family: "Raleway"; }
      app-user > div div.head > div.identity span:first-of-type, div[data-is=app-user] > div div.head > div.identity span:first-of-type {
        font-family: "Lobster";
        font-size: 26px; }
      app-user > div div.head > div.identity span:last-of-type, div[data-is=app-user] > div div.head > div.identity span:last-of-type {
        display: block; }

app-user > div nav, div[data-is=app-user] > div nav {
  display: block;
  text-align: center;
  margin: 20px; }
  app-user > div nav input[type=button], div[data-is=app-user] > div nav input[type=button] {
    margin: 0;
    margin-right: 8px; }

app-user > div div.description, div[data-is=app-user] > div div.description {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #FDC279; }
  app-user > div div.description p, div[data-is=app-user] > div div.description p {
    font-size: 16px;
    font-family: "Raleway"; }

app-user > div div.more, div[data-is=app-user] > div div.more {
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #FDC279; }
  app-user > div div.more > div, div[data-is=app-user] > div div.more > div {
    vertical-align: top;
    display: inline-block;
    margin-right: 80px;
    margin-bottom: 20px; }
  app-user > div div.more ul, div[data-is=app-user] > div div.more ul {
    padding-left: 20px; }
    app-user > div div.more ul li, div[data-is=app-user] > div div.more ul li {
      list-style-type: disc;
      font-family: "Raleway"; }

app-user > div div.comments, div[data-is=app-user] > div div.comments {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ffffff;
  overflow: hidden; }
  app-user > div div.comments h1, div[data-is=app-user] > div div.comments h1 {
    display: inline-block; }
  app-user > div div.comments app-hearts, div[data-is=app-user] > div div.comments app-hearts {
    display: inline-block;
    padding-top: 5px;
    vertical-align: middle; }

app-manyinputs {
  display: block; }
  app-manyinputs input[type=text] {
    display: block;
    width: 100%; }

app-placeinput {
  display: block; }

app-origininput {
  display: block; }

app-pinsinput {
  display: block; }

app-dateinput {
  display: block;
  vertical-align: top; }
  app-dateinput input {
    margin: 8px;
    display: block;
    width: 100%;
    padding: 4px;
    height: 36px; }

app-tabbar {
  margin-top: 20px;
  display: block;
  width: 100%;
  border-bottom: 10px solid #FDC279;
  position: relative; }
  app-tabbar span {
    display: inline-block;
    height: 32px;
    padding: 20px;
    padding-top: 8px;
    background-color: #F3B1A6;
    font-family: "Lobster";
    color: #ffffff;
    margin-right: 1px;
    border: 1px solid #f09d90;
    border-bottom: 0;
    border-top-right-radius: 15px;
    cursor: pointer; }
    @media screen and (max-width: 600px) {
      app-tabbar span {
        display: block;
        margin: auto;
        text-align: center; }
        app-tabbar span:first-of-type {
          margin-left: 0 !important; }
        app-tabbar span:last-of-type {
          display: none; } }
    app-tabbar span:first-of-type {
      margin-left: 40px; }
    app-tabbar span:last-of-type {
      cursor: initial;
      position: absolute;
      width: 100%;
      height: 32px;
      background-color: #ffffff;
      border: 0; }
      app-tabbar span:last-of-type:hover {
        background-color: #ffffff; }
    app-tabbar span.selected, app-tabbar span:hover {
      background-color: #FDC279;
      border: 1px solid #fdb760;
      border-bottom: 0; }
      app-tabbar span.selected:last-of-type, app-tabbar span:hover:last-of-type {
        border: 0; }

app-placehint, div[data-is=app-placehint] {
  display: block;
  cursor: pointer;
  overflow: hidden; }
  app-placehint div.img, div[data-is=app-placehint] div.img {
    display: inline-block;
    background-image: url("/static/images/location.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 8px; }
  app-placehint > div > div, div[data-is=app-placehint] > div > div {
    display: inline-block; }
  app-placehint > div.map, div[data-is=app-placehint] > div.map {
    margin-top: 20px;
    transition: all 0.2s ease; }
    app-placehint > div.map.close, div[data-is=app-placehint] > div.map.close {
      height: 0; }
    app-placehint > div.map.open, div[data-is=app-placehint] > div.map.open {
      height: 100px; }
    app-placehint > div.map iframe, div[data-is=app-placehint] > div.map iframe {
      display: block;
      width: 100%;
      height: 200px;
      margin: auto;
      border-radius: 2px; }

app-searcher {
  display: block;
  background-image: url("/static/images/vintage-concrete.png");
  padding: 20px;
  text-align: center;
  border: 1px solid rgba(204, 204, 204, 0.3);
  border-radius: 2px; }
  app-searcher h1, app-searcher h2 {
    margin-bottom: 5px;
    padding: 0; }
  app-searcher div.img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    background-image: url("/static/images/dish.svg");
    background-size: auto 120%;
    background-position: center -15px;
    vertical-align: top;
    padding: 0; }
  app-searcher > div div {
    display: inline-block;
    vertical-align: top;
    padding: 8px;
    padding-top: 0; }
  app-searcher > form {
    display: inline-block;
    vertical-align: top;
    padding: 8px; }
    app-searcher > form * {
      margin-bottom: 8px;
      margin-right: 8px; }
    app-searcher > form app-placeinput, app-searcher > form app-origininput, app-searcher > form app-dateinput, app-searcher > form input[type=text], app-searcher > form input[type=number] {
      display: inline-block;
      width: 170px !important; }
    app-searcher > form input[type=button] {
      vertical-align: top; }
    @media screen and (max-width: 560px) {
      app-searcher > form {
        text-align: center; } }
  app-searcher h3 {
    font-family: "Lobster";
    margin-bottom: 8px; }

app-searchitem, div[data-is=app-searchitem] {
  display: block;
  width: 100%;
  min-width: 320px;
  margin-bottom: 20px;
  padding: 20px; }
  app-searchitem.reduced, div[data-is=app-searchitem].reduced {
    display: inline-block;
    max-width: 200px; }
  app-searchitem div.img, div[data-is=app-searchitem] div.img {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("/static/images/dish.svg");
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: center top;
    vertical-align: top; }
  app-searchitem div.img + div, div[data-is=app-searchitem] div.img + div {
    display: inline-block;
    height: 100px;
    vertical-align: top; }
  app-searchitem input[type=button], div[data-is=app-searchitem] input[type=button] {
    display: block;
    margin: auto;
    margin-top: 20px; }

app-searchresults app-searcher, div[data-is=app-searchresults] app-searcher {
  margin-bottom: 20px; }

app-recipe div.banner, div[data-is=app-recipe] div.banner {
  display: block;
  width: 100%;
  height: 150px;
  position: relative;
  z-index: 1;
  background-size: 0 0;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }
  app-recipe div.banner::after, div[data-is=app-recipe] div.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  app-recipe div.banner::before, div[data-is=app-recipe] div.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    -webkit-filter: blur(15px); }

app-recipe div.infos, div[data-is=app-recipe] div.infos {
  display: inline-block;
  padding: 40px;
  vertical-align: top;
  width: 65%; }
  @media screen and (max-width: 650px) {
    app-recipe div.infos, div[data-is=app-recipe] div.infos {
      display: block;
      width: 100%; } }
  app-recipe div.infos div.base, div[data-is=app-recipe] div.infos div.base {
    padding-bottom: 8px;
    border-bottom: 1px dotted #FDC279; }
    app-recipe div.infos div.base div.name h1, div[data-is=app-recipe] div.infos div.base div.name h1 {
      display: inline-block;
      width: auto;
      font-size: 52px;
      background-color: transparent;
      color: #191d1c;
      height: 56px;
      padding: 0; }
    app-recipe div.infos div.base div.name > div, div[data-is=app-recipe] div.infos div.base div.name > div {
      vertical-align: middle;
      display: inline-block;
      height: 56px;
      padding-top: 7px; }
  app-recipe div.infos div.geolocation, div[data-is=app-recipe] div.infos div.geolocation {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #FDC279; }
  app-recipe div.infos div.details, div[data-is=app-recipe] div.infos div.details {
    margin-top: 20px; }
    app-recipe div.infos div.details h2, div[data-is=app-recipe] div.infos div.details h2 {
      font-family: "Lobster"; }
    app-recipe div.infos div.details ul, div[data-is=app-recipe] div.infos div.details ul {
      padding-left: 40px;
      list-style: disc; }

app-recipe div.user, div[data-is=app-recipe] div.user {
  display: inline-block;
  width: 27%; }
  @media screen and (max-width: 650px) {
    app-recipe div.user, div[data-is=app-recipe] div.user {
      display: block;
      width: 100%; } }
  app-recipe div.user div.join, div[data-is=app-recipe] div.user div.join {
    text-align: center;
    min-width: 210px;
    background-color: #F3B1A6;
    padding: 20px; }
    app-recipe div.user div.join h2, div[data-is=app-recipe] div.user div.join h2 {
      font-family: "Lobster";
      color: #ffffff; }
    app-recipe div.user div.join .price, div[data-is=app-recipe] div.user div.join .price {
      width: 100px;
      height: 100px;
      line-height: 100px;
      background-color: #ffffff;
      color: #F3B1A6;
      font-size: 30px;
      font-weight: bold;
      font-family: "Raleway";
      margin: 0;
      margin-bottom: 20px; }
    app-recipe div.user div.join .price + div, div[data-is=app-recipe] div.user div.join .price + div {
      font-weight: bold;
      font-family: "Raleway";
      color: #ffffff;
      margin-bottom: 8px; }
    app-recipe div.user div.join form, div[data-is=app-recipe] div.user div.join form {
      display: block;
      width: 100%;
      text-align: left; }
      app-recipe div.user div.join form div, div[data-is=app-recipe] div.user div.join form div {
        color: #ffffff; }
      app-recipe div.user div.join form input[type=button], div[data-is=app-recipe] div.user div.join form input[type=button] {
        background-color: #FDC279; }

app-recipes, div[data-is=app-recipes] {
  display: block;
  text-align: center; }

app-recipeitem, div[data-is=app-recipeitem] {
  display: inline-block;
  width: auto;
  min-width: 324px;
  height: 100px;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media screen and (max-width: 650px) {
    app-recipeitem, div[data-is=app-recipeitem] {
      display: block !important;
      height: auto !important; }
      app-recipeitem div.user, div[data-is=app-recipeitem] div.user {
        height: auto !important; }
      app-recipeitem div.recipe, div[data-is=app-recipeitem] div.recipe {
        width: 100%;
        height: auto !important; } }
  app-recipeitem div.user, div[data-is=app-recipeitem] div.user {
    display: inline-block;
    padding: 8px;
    height: 100px; }
    app-recipeitem div.user div.img, div[data-is=app-recipeitem] div.user div.img {
      display: inline-block;
      margin: 8px;
      width: 72px;
      height: 72px;
      vertical-align: top;
      border-radius: 2px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    app-recipeitem div.user div.Hearts, div[data-is=app-recipeitem] div.user div.Hearts {
      margin-left: auto;
      margin-right: auto; }
    app-recipeitem div.user div.img + div, div[data-is=app-recipeitem] div.user div.img + div {
      display: inline-block;
      text-align: center; }
      app-recipeitem div.user div.img + div span, div[data-is=app-recipeitem] div.user div.img + div span {
        display: block; }
      app-recipeitem div.user div.img + div div.Hearts, div[data-is=app-recipeitem] div.user div.img + div div.Hearts {
        display: block; }
  app-recipeitem div.recipe, div[data-is=app-recipeitem] div.recipe {
    display: inline-block;
    height: 100px;
    text-align: center;
    vertical-align: top;
    padding: 8px;
    padding-right: 70px;
    position: relative;
    z-index: 1;
    background-size: 0 0;
    overflow: hidden; }
    app-recipeitem div.recipe > div, div[data-is=app-recipeitem] div.recipe > div {
      display: inline-block;
      vertical-align: top; }
      app-recipeitem div.recipe > div span, div[data-is=app-recipeitem] div.recipe > div span {
        color: #ffffff; }
      app-recipeitem div.recipe > div > div, div[data-is=app-recipeitem] div.recipe > div > div {
        margin-bottom: 8px; }
    app-recipeitem div.recipe::after, div[data-is=app-recipeitem] div.recipe::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(25, 29, 28, 0.4); }
    app-recipeitem div.recipe::before, div[data-is=app-recipeitem] div.recipe::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: inherit;
      background-position: center;
      filter: blur(15px);
      -webkit-filter: blur(15px); }
    app-recipeitem div.recipe > div.price, div[data-is=app-recipeitem] div.recipe > div.price {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%); }

app-recipeeditform, div[data-is=app-recipeeditform] {
  display: block; }
  app-recipeeditform > form, div[data-is=app-recipeeditform] > form {
    text-align: center;
    margin-bottom: 20px; }
    app-recipeeditform > form > section, div[data-is=app-recipeeditform] > form > section {
      display: block;
      text-align: left;
      width: 100%;
      vertical-align: top;
      min-width: 380px;
      padding: 20px; }

app-reportitem {
  display: inline-block;
  min-width: 320px;
  border: 1px solid rgba(204, 204, 204, 0.3);
  padding: 20px;
  width: 200px; }
  app-reportitem span b {
    font-weight: bold; }
  app-reportitem div {
    margin-bottom: 8px; }

app-reports, div[data-is=app-reports] {
  display: block;
  text-align: center; }
  app-reports nav, div[data-is=app-reports] nav {
    width: 100%;
    text-align: left; }

app-reservation h1, div[data-is=app-reservation] h1 {
  margin-bottom: 0; }

app-reservation h1 + div, div[data-is=app-reservation] h1 + div {
  padding: 8px;
  margin-bottom: 20px; }
  app-reservation h1 + div label, div[data-is=app-reservation] h1 + div label {
    display: block;
    font-size: 26px;
    margin-bottom: 8px;
    margin-top: 20px; }

app-reservation div.recipe, div[data-is=app-reservation] div.recipe {
  text-align: center; }
  app-reservation div.recipe label, div[data-is=app-reservation] div.recipe label {
    text-align: left; }

app-reservation div.guests, div[data-is=app-reservation] div.guests {
  font-family: "Raleway";
  text-align: center; }

app-reservation div.checkout, div[data-is=app-reservation] div.checkout {
  text-align: center; }

app-reservation app-useritem, div[data-is=app-reservation] app-useritem {
  border-radius: 5px; }

app-commentitem, div[data-is=app-commentitem] {
  display: block;
  margin-bottom: 20px; }
  app-commentitem > img.profile, div[data-is=app-commentitem] > img.profile {
    display: inline-block;
    margin-right: 20px; }
    @media screen and (max-width: 430px) {
      app-commentitem > img.profile, div[data-is=app-commentitem] > img.profile {
        display: none; } }
  app-commentitem > div, div[data-is=app-commentitem] > div {
    display: inline-block;
    max-width: 70%;
    vertical-align: top; }
    app-commentitem > div > div:first-of-type, div[data-is=app-commentitem] > div > div:first-of-type {
      font-size: 26px;
      margin-bottom: 20px; }
    app-commentitem > div > div:last-of-type, div[data-is=app-commentitem] > div > div:last-of-type {
      font-size: 16px; }
      app-commentitem > div > div:last-of-type p, div[data-is=app-commentitem] > div > div:last-of-type p {
        white-space: normal;
        word-break: break-all;
        word-wrap: break-word; }

app-header, div[data-is=app-header] {
  display: block;
  width: 100%;
  height: 108px;
  position: relative;
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(204, 204, 204, 0.3); }
  app-header > div.img, div[data-is=app-header] > div.img {
    display: inline-block;
    width: 150px;
    height: 100%;
    cursor: pointer;
    background-image: url("/static/images/logo-noir.svg");
    background-size: 160% 160%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease; }
    app-header > div.img:hover, div[data-is=app-header] > div.img:hover {
      transform: scale(1.1, 1.1); }
  app-header > nav, div[data-is=app-header] > nav {
    display: inline-block;
    padding: 0 !important;
    position: absolute;
    right: 20px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle; }
    app-header > nav > a, div[data-is=app-header] > nav > a {
      margin-right: 20px;
      cursor: pointer; }
    app-header > nav div.img, div[data-is=app-header] > nav div.img {
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px;
      width: 45px;
      height: 45px;
      border-radius: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.2s ease; }
      app-header > nav div.img:hover, div[data-is=app-header] > nav div.img:hover {
        transform: scale(1.1, 1.1); }
  @media screen and (max-width: 560px) {
    app-header a.Action, div[data-is=app-header] a.Action {
      display: none; } }

app-footer,
div[data-is=app-footer] {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-image: url("/static/images/black_paper.png");
  background-repeat: repeat; }
  app-footer > div,
  div[data-is=app-footer] > div {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    text-align: left;
    margin-left: 40px; }
    app-footer > div h3,
    div[data-is=app-footer] > div h3 {
      margin-bottom: 20px;
      color: #f2f4f3; }
    app-footer > div ul li,
    div[data-is=app-footer] > div ul li {
      color: #f2f4f3;
      margin-bottom: 8px; }
    @media screen and (max-width: 710px) {
      app-footer > div,
      div[data-is=app-footer] > div {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        margin-left: 0; }
        app-footer > div ul,
        div[data-is=app-footer] > div ul {
          display: inline-block;
          text-align: left; } }

app-error > div, div[data-is=app-error] > div {
  padding: 20px; }
  app-error > div p, div[data-is=app-error] > div p {
    margin-bottom: 8px; }

html, body {
  height: 100%;
  overflow-x: hidden; }

* {
  box-sizing: border-box;
  font-size: 16px;
  color: #191d1c;
  font-family: "Raleway";
  z-index: 0; }

div.vertical-center {
  display: table; }
  div.vertical-center > * {
    display: table-cell;
    vertical-align: middle; }
