div[data-is=app-adminpins], div[data-is=app-adminorigins]
{
  div.content a.Action
  {
    display: block;
    width: 200px;
    margin: auto;
    margin-top: $space-normal;
    margin-bottom: $space-normal;

    text-align: center;
  }
}