/**
 Importation des polices
**/

/////

// Définition des polices
$font-base: 'Arial', sans-serif;
$font-primary: 'Ash';

$font-size-small: 10px;
$font-size-normal: 16px;
$font-size-big : 20px;

// Définition des couleurs
$color-back: #fbfaf8;
$color-base: #303030;
$color-primary: #df7a00;
$color-gradient-end : #ff512f;
$color-gradient-start : #f09819;

$space-small: 8px;
$space-normal: 20px;
$space-big: 60px;