@import 'chart';

.invisible
{
  display: none;
}

.content
{
          min-width: 320px;
        width: 80%;
        margin: auto;
        margin-top: $space-normal;
        box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1);
        padding: $space-small;
}

div#loading
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  background-position: center center;
  background-size: 100px auto;
  background-repeat: no-repeat;
  background-image: url("/static/img/loading.gif");
}

div#popup
{
  box-sizing: border-box;
  position: fixed;
  min-width: 320px;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: $color-back;
  border-radius: 2px;
  z-index: 1;
  padding: $space-normal;
  border: 1px solid $color-primary;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
  padding-top: $space-big;
  overflow-y: auto;
  max-height: 90%;

  &::after
  {
    position: absolute;
    box-sizing: border-box;
    
    top: 0;
    left: 0;
    width: 100%;
    content: attr(data-name);
    font-size: $font-size-normal;
    font-family: "MyriadPro";
    padding: $space-small;
    font-size: $font-size-big;
    background-color: $color-primary;
    color: $color-back;
  }

  div.close
  {
      content: "🞩";
      display: inline-block;
      position: absolute;
      z-index : 2;
      display: inline-block;
      top: 0;
      right: 0;
      font-size: $font-size-big;
      text-align: right;
      padding-top: $space-small;
      padding-right: $space-small;
      color: $color-back;
      cursor: pointer;
  }
}


div.center,
form {
  display: block;
  width: 100%;
  text-align: center;
}

input[type=submit] {
  color: transparent;
  background-color: transparent;
  background-image: url("/static/img/checked_base.png");
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: contain;
  border: 0;
  cursor: pointer;
  &:hover {
    background-image: url("/static/img/checked_primary.png");
  }
}

select 
{
  max-width: 320px;
}

form {
  div {
    width: 320px;
    text-align: left;
    margin: auto;
    margin-bottom: $space-normal;

    &.awesomplete, .hint
    {
      margin-bottom: 0;
      position: relative;
    }

    &.selectize-input
    {
      width: 100%;
      max-width: 320px;
      border: 1px solid $color-primary;
      border-radius: 2px;
      min-height: 35px;
      padding: 5px;
      background-color: $color-back;
      div
      {
        width: initial;
      }
    }

    &.hint.invalid::after
    {
      content: "🞩";
      position: absolute;
      width: $font-size-big;
      height: 100%;
      z-index : 1;
      display: inline-block;
      top: 0;
      right: 0;
      font-size: $font-size-big;
      text-align: right;
      padding-top: $space-small;
      padding-right: $space-small;
      color: red;
    }

    &.hint.valid::after
    {
      content: "✓";
      position: absolute;
      width: $font-size-big;
      height: 100%;
      z-index : 1;
      display: inline-block;
      top: 0;
      right: 0;
      font-size: $font-size-big;
      text-align: right;
      padding-top: $space-small;
      padding-right: $space-small;
      color: green;
    }

    label {
      font-family: "MyriadPro";
      font-size: $font-size-big;
      display: block;
      text-align: left;
      margin-bottom: $space-small;
    }
    input,
    input[type=text],
    textarea,
    input[type=password],
    select,
    input[type=date],
    input[type=time],
    input[type=datetime] {
      width: 100%;
      max-width: 320px;
      border: 1px solid $color-primary;
      border-radius: 2px;
      min-height: 35px;
      padding: 5px;
      background-color: $color-back;
    }

    p
    {
      display: block;
      margin-top: $space-small;;
      color: rgba($color-base, 0.7);
    }

  }
  input[type=submit],
  input[type=button] {
    background: none;
    width: 320px;
    background-color: $color-primary;
    border: none;
    font-size: $font-size-big;
    border-radius: 2px;
    padding: $space-small;
    color: $color-back;
    font-family: "MyriadPro";
    margin-bottom: $space-normal;
  }
}

a.add-icon {
  display: inline-block;
  background-image: url("/static/img/add_base.svg");
  background-position: 0 center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 32px;
  min-width: 32px;
  padding-left: 45px;
  vertical-align: middle;
  line-height: 32px;
  text-decoration: none;
  color: $color-base;
  font-size: 15px;
  cursor: pointer;
  &:hover {
    background-image: url("/static/img/add_primary.svg");
  }
}

a.detail-icon {
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  background-image: url("/static/img/details_primary.png");
  background-position: center;
  background-size: auto 60%;
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 40px;
  transition: 0.2s ease all;
  cursor: pointer;
  &.primary {
    background-image: url("/static/img/details_back.png");
    
    border-radius: 2px;
  }
  &:hover {
  background-size: auto 70%;    
  }
}

a.edit-icon {
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  background-image: url("/static/img/editsimple_primary.png");
  background-position: center;
  background-size: auto 60%;
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 40px;
  transition: 0.2s ease all;
  
  cursor: pointer;
  &.primary {
    background-image: url("/static/img/editsimple_back.png");
    
    border-radius: 2px;
  }
  &:hover {
  background-size: auto 70%;    
  }
}

a.delete-icon {
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  background-image: url("/static/img/delete_base.svg");
  background-position: center;
  background-size: 32px auto;
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 40px;
  transition: 0.2s ease all;
  cursor: pointer;
  &.primary {
    //background-color: rgba(white, 0.3);
    border-radius: 2px;
    background-image: url("/static/img/delete_back.svg");
    
  }
  &:hover {
  background-size: 40px auto;
  }
}

nav input[type=button] {
  $height: 50px;
  border: none;
  background: none;
  background-size: auto 70%;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100px;
  height: $height;
  padding-top: $height - $font-size-normal;
  text-transform: uppercase;
  cursor: pointer;
  &.add-button {
    background-image: url("/static/img/add_base.svg");
    &:hover {
      background-image: url("/static/img/add_primary.svg");
    }
  }
}

table
{
  font-family: "MyriadPro";
  width: 100%;
  border-radius: 2px;

  thead tr td
  {
                @include linear-gradient($color-gradient-start, $color-gradient-end);

    color: $color-back;

    &:first-of-type
    {
    border-top-left-radius: 2px;
    }

    &:last-of-type
    {
    border-top-right-radius: 2px;
    }
  }

  tbody tr 
  {
    &:nth-of-type(2n)
    {
      background-color: $color-gradient-end;

      td, a
      {
        color: $color-back;
      }
    }
  }

  td
  {
    padding: $space-small;
    text-align: center;
  }
}

label.checkbox
{

  display: inline-block;
  background-color: $color-primary;
  border-radius: 2px;
  color: $color-back;
  position: relative;
  height: 32px;
  font-size: $font-size-normal;
  color: $color-back;
  padding: $space-small;
  margin: $space-small;



  input[type=checkbox],input[type=radio]
  {
    display: inline-block;
    float: left;
    width: auto;
    margin: 0px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
  }
}

nav.more
{
    display: block;
    width: 90%;
    margin: auto;
    margin-top: -$space-normal;
    margin-bottom: $space-normal;
    padding: $space-small;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.3);
    @include linear-gradient($color-gradient-start, $color-gradient-end);
    text-align: center;

    h1
    {
      font-size: 26px !important;
      color: $color-back;
        font-family: "MyriadPro";
    }
    a
    {
        width: 100px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        padding-top: 55px;
        font-family: "MyriadPro";
        overflow: hidden;
        color: $color-back;
        font-size: $font-size-small;
        text-align: center;

        background-repeat: no-repeat;
        background-size: auto 40px;
        background-position: center 5px;;

        transition: 0.2s ease all;

        &:hover
        {
            background-size: auto 45px;
        }

        &.structure
        {
            background-image: url("/static/img/structure_back.svg");
        }

        &.tag
        {
            background-image: url("/static/img/tag_back.svg");
        }

        &.structuretype
        {
            background-image: url("/static/img/structureType_back.png");
        }


        &.user
        {
            background-image: url("/static/img/user_back.png");
        }

        &.import
        {
            background-image: url("/static/img/back_back.png");
        }
    }
}