@import 'chart';
@import 'reset';
@import 'mixins';

@import 'misc';

@import 'parts/Button';
@import 'parts/Pins';
@import 'parts/Hearts';

/** Importation des styles des tags **/
@import 'tags/User/UserItem';
@import 'tags/User/UserEditForm';
@import 'tags/User/User';


@import 'tags/Recipe/Recipe';
@import 'tags/Recipe/RecipeItem';

@import 'tags/Comment/CommentItem';
@import 'tags/Comment/Comments';

@import 'tags/Header';
@import 'tags/Footer';

*
{
  box-sizing: border-box;
  font-size : $font-size-normal;
  color: $color-base;
  font-family: MyriadPro;
  z-index :0;
}

div.vertical-center
{
  display: table;

  &>*
  {
    display: table-cell;
    vertical-align: middle;
  }
}

