@import 'chart';
@import 'reset';
@import 'mixins';

@import 'misc';

@import 'parts/Button';
@import 'parts/Pins';
@import 'parts/Inputs';
@import 'parts/Hearts';

/** Importation des styles des tags **/
@import 'tags/Account/AccountKitchen';
@import 'tags/Account/AccountRecipes';
@import 'tags/Account/AccountReservations';
@import 'tags/Account/AccountUser';

@import 'tags/User/UserItem';
@import 'tags/User/UserEditForm';
@import 'tags/User/User';

@import "tags/Misc/ManyInputs";
@import "tags/Misc/PlaceInput";
@import "tags/Misc/OriginInput";
@import "tags/Misc/PinsInput";
@import "tags/Misc/DateInput";
@import "tags/Misc/TabBar";
@import "tags/Misc/PlaceHint";

@import "tags/Search/Searcher";
@import "tags/Search/SearchItem";

@import 'tags/Recipe/Recipe';
@import 'tags/Recipe/RecipeList';
@import 'tags/Recipe/RecipeItem';
@import 'tags/Recipe/RecipeEditForm';

@import 'tags/Comment/CommentItem';
@import 'tags/Comment/Comments';

@import 'tags/Header';
@import 'tags/Footer';
@import "tags/Error";

*
{
  box-sizing: border-box;
  font-size : $font-size-normal;
  color: $color-text-primary;
  font-family: $font-primary;
  z-index :0;
}

div.vertical-center
{
  display: table;

  &>*
  {
    display: table-cell;
    vertical-align: middle;
  }
}

