@import 'chart';
@import 'reset';
@import 'mixins';

@import 'misc';

@import 'parts/Button';

/** Importation des styles des tags **/
@import 'tags/Header';

*
{
  box-sizing: border-box;
  font-size : $font-size-normal;
  color: $color-base;
  font-family: MyriadPro;
  z-index :0;
}

div.vertical-center
{
  display: table;

  &>*
  {
    display: table-cell;
    vertical-align: middle;
  }
}

