a.Button
{
    $side: 45px;
    display: inline-block;
    width: $side;
    height: $side;

    vertical-align: middle;


    position: relative;
    background-color: red;

    margin-left: $space-small;

    &>span
    {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        font-size: $font-size-small;
    }

    &.register
    {

    }

    &.login
    {

    }
}

a.Action
{
    $height: 45px;
    display: inline-block;
    height: $height;
    vertical-align: middle;

    padding-right: 30px;

    &>span
    {
        height: $height;
        line-height: $height;
        vertical-align: middle;

        font-size: $font-size-small;
    }
}