a.Button
{
    $side: 40px;
    display: inline-block;
    width: 60px;
    height: $side;

    vertical-align: middle;

    cursor: pointer;

    position: relative;

    margin-left: $space-small;

    background-position: center 0;
    background-repeat: no-repeat;
    background-size: auto 70%;

    transition: all 0.2s ease;

    &:hover
    {
        transform: scale(1.2, 1.2);
    }

    &>span
    {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        font-size: $font-size-small;
    }

    &.register
    {
        &>span{
            color: $color-front-avocado;
        }
        background-image: url('/static/images/chef.svg');
    }

    &.login
    {
        &>span
        {
            color: $color-front-straw;
        }
        background-image: url("/static/images/on.svg");
    }
}

a.Action
{
    $height: 45px;
    display: inline-block;
    height: $height;
    vertical-align: middle;

    cursor: pointer;

    padding: $space-small;
    padding-top: 0;
    padding-left: 30px;

    background-color: $color-front-peach;
    background-image: url("/static/images/add.svg");
    background-size: 20px 20px;
    background-position: $space-small;
    background-repeat: no-repeat;

    border-radius: 2px;

    &>span
    {
        height: $height;
        line-height: $height;
        vertical-align: middle;

        font-size: $font-size-small;

        color: $color-text-secondary;

    }

    transition: all 0.2s ease;

    &:hover
    {
        transform: scale(1.2, 1.2);
    }

}

input[type=button]
{
    margin: $space-small;
    box-sizing: border-box;
    &.large
    {
        width: 100%;
        height: 40px;
        text-align: center;
    }
}