@import './../chart';

a.onclick
{
    cursor: pointer;
    &:focus {outline:0;}
}

a.Button
{
    $side: 45px;
    display: inline-block;
    //width: 60px;
    height: $side;

    vertical-align: middle;

    cursor: pointer;

    position: relative;

    margin-left: $space-normal;

    background-position: center 0;
    background-repeat: no-repeat;
    background-size: auto 70%;

    transition: all 0.2s ease;

    &:focus {outline:0;}
    


    &:hover
    {
        transform: scale(1.2, 1.2);
    }

    &>span
    {
        //position: absolute;
        width: 100%;
        text-align: center;
        //bottom: 0;
        font-size: $font-size-small;
    }

    &.register
    {
        &>span{
            color: $color-front-avocado;
        }
        background-image: url('/static/images/chef.svg');
    }

    &.login
    {
        &>span
        {
            color: $color-front-straw;
        }
        background-image: url("/static/images/on.svg");
    }

    &.logout 
    {
        &>span
        {
            color: $color-front-peach;
        }
        background-image: url("/static/images/on.svg");  
    }

    &.fb
    {
        &>span
        {
            color: transparent;
        }
        background-position: center;
        background-size: auto 250%;

        background-image: url("/static/images/facebook.svg");
    }

    &.twitter
    {
        &>span
        {
            color: transparent;
        }
        background-position: center;
        background-size: auto 250%;
        background-image: url("/static/images/twitter.svg");

    }

    &.insta
    {
        &>span
        {
            color: transparent;
        }
        background-position: center;
        background-size: auto 250%;
        background-image: url("/static/images/instagram.svg");
    }

    &.youtube
    {
        &>span
        {
            color: transparent;
        }
        background-position: center;
        background-size: auto 250%;
        background-image: url("/static/images/youtube.svg");
    }
}

a.Action
{
    $height: 45px;
    display: inline-block;
    height: $height;
    vertical-align: middle;

    cursor: pointer;

    padding: $space-small;
    padding-top: 0;
    padding-left: 30px;

    background-color: $color-front-peach;
    background-image: url("/static/images/add.svg");
    background-size: 20px 20px;
    background-position: $space-small;
    background-repeat: no-repeat;

    border-radius: $border-radius;

    text-decoration: none;

    font-family: $font-primary;

    &:focus {outline:0;}
    


    &>span
    {
        height: $height;

        line-height: $height;
        vertical-align: middle;

        font-size: $font-size-small;

        color: $color-back-primary;

        font-family: $font-primary;


    }

    transition: all 0.2s ease;

    &:hover
    {
        transform: scale(1.1, 1.1);
    }

}

input[type=button]
{

    &:focus {outline:0;}
    
    display: inline-block;
    margin: $space-small;
    box-sizing: border-box;
    background-color: $color-front-straw;
    border: 1px solid #EA968B;
    color: $color-back-primary;
    padding: $space-small;
    border-radius: $border-radius;
    text-align: center;
    transition: all 0.2s ease;

    &.large
    {
        display: block;
        width: 90%;
        height: 40px;
        text-align: center;
        margin: auto;
        margin-top: $space-normal;
    }

    &:hover
    {
        transform: scale(1.1, 1.1);
    }

    &.peach
    {
        background-color: $color-front-peach;
        border: 1px solid #EA968B;;
    }

    &:hover
    {
        background-color :$color-front-avocado;
        border:1px solid #C1B449;
    }

}