div.Hearts
{

    display: inline-block;
    width: 120px;
    height: 25px;
    vertical-align: middle;
    background-color: pink;
    margin: $space-small;

    &.nb-0
    {

    }

    &.nb-1
    {
        
    }

    &.nb-2
    {
        
    }

    &.nb-3
    {
        
    }

    &.nb-4
    {
        
    }

    &.nb-5
    {
        
    }
}