app-hearts
{

    display: inline-block;
    width: 200px;
    height: 40px;
    vertical-align: middle;
    margin: $space-small;
    text-align: center;

    &>div
    {
        display: inline-block;
        width: 35px;
        height: 35px;

        background-size: contain;
        background-repeat: no-repeat;
    }

    .empty
    {
        background-image: url("/static/images/heart_vide.svg");
    }

    .full
    {
        background-image: url("/static/images/heart_plein.svg");
    }
}