
input[type=text], select, input[type=password], textarea, .selectize-input, input[type=number]
{
  padding:10px !important;
  border-radius:10px !important;
  border:1px solid #CCCCCC !important;
  background-color:$color-back-primary !important;
  color:#808080 !important;
  text-align: left !important;
  box-sizing: border-box !important;
  resize:none;
  display: block;
  width: 90% !important;
  margin: auto;
  margin-top: $space-small;
  margin-bottom: $space-small;

  &.selectize-input
  {
    width: 100% !important;
  }
}

.selectize-control
{
  width: 90% !important;
  display: block !important;

  margin: auto !important;
  margin-top: $space-small;
  margin-bottom: $space-small;

  div.selectized
  {
    display: inline-block;
  }
}

input[type=text].error, input[type=number].error, textarea.error, select.error,
app-dateinput.error input, app-manyinputs.error input[type=text], app-origininput.error div.selectize-input, app-pinsinput.error div.selectize-input, app-placeinput.error div.selectize-input
{
  border-color: red !important;
}

label{
  font-size: $font-size-normal;
  font-family: 'Raleway', sans-serif;
}


div label+*+p
{
  font-size: $font-size-small;
  text-align: center;
  margin-top: $space-small;

  &.hint
  {
    display: none;
  }
}

div label+.error+p
{
  &.hint
  {
    display: block;
    margin-bottom: $space-normal;
    width: 100%;
    text-align: center;
  }
}
