
input[type=text], select, input[type=password], textarea, .selectize-input, input[type=number]
{
  &:focus {outline:0;}


  padding:10px !important;
  border-radius:10px !important;
  border:1px solid #b8b8b8 !important;
  background-image:linear-gradient(to bottom, #fefefe, #f2f2f2) !important;
  color:#808080 !important;
  text-align: left !important;
  box-sizing: border-box !important;
  resize:none;
  display: block;
  width: 90% !important;
  margin: auto;
  margin-top: $space-small;
  margin-bottom: $space-small;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.8);
  padding: 10px;
  font-family: Raleway;
  font-size: 13px;

  &.selectize-input
  {
    width: 100% !important;
  }

  &.picker__input
  {
    font-family: Raleway;
    font-size: 13px;
  }
}

.selectize-control
{
  width: 90% !important;
  display: block !important;

  margin: auto !important;
  margin-top: $space-small;
  margin-bottom: $space-small;

  div.selectized
  {
    display: inline-block;
  }
}

input:disabled
{
  opacity: 0.3;
}

input[type=text].error, input[type=number].error, textarea.error, select.error,input[type=password].error
app-dateinput.error input, app-manyinputs.error input[type=text], app-origininput.error div.selectize-input, app-pinsinput.error div.selectize-input, app-placeinput.error div.selectize-input
{
  &:focus {outline:0;}

  border-color: red !important;
}

label{
  font-size: $font-size-normal;
  font-family: 'Raleway', sans-serif;
}


div label+*+p
{
  font-size: $font-size-small;
  text-align: center;
  margin-top: $space-small;

  &.hint
  {
    display: none;
  }
}

div label+.error+p
{

  &:focus {outline:0;}

  &.hint
  {
    display: block;
    margin-bottom: $space-normal;
    width: 100%;
    text-align: center;
  }
}
