
input[type=text], select, input[type=password], textarea, .selectize-input
{
  padding:10px !important;
  border-radius:10px !important;
  border:1px solid #CCCCCC !important;
  background-color:$color-back-primary !important;
  color:#808080 !important;
  text-align: left !important;
}

input[type=text].error, input[type=number].error, textarea.error, select.error,
app-dateinput.error input, app-manyinputs.error input[type=text], app-origininput.error div.selectize-input, app-pinsinput.error div.selectize-input, app-placeinput.error div.selectize-input
{
  background-color: red !important;
}



div label+input, div label+textarea
{
  display: block;
  width: 100%;
  margin: $space-small;
  resize: none;

}

div label+*+p
{
  font-size: $font-size-small;
  text-align: center;
  margin-top: $space-small;
}

