.Pins
{

    $side: 30px;

    display: inline-block;
    position: relative;

    width: $side;
    height: $side;

    border-radius: 100%;

    line-height: $side;

    text-align: center;

    vertical-align: top;

    margin-left: $space-small;
    color: transparent;
    padding-left: 10px;
    font-family: $font-primary;

    transition: all 0.1s ease;


    &:hover, &:active, &.open
    {
        width: auto;
        color: $color-back-primary;
        padding-left: $space-small;
        padding-right: $space-small;
        border-radius: 2px;

        span
        {
            color: $color-back-primary;
        }
    }

    &::first-letter
    {
        display: block;
        color: $color-back-primary;
    }

    span
    {
        font-size: $font-size-small;
        vertical-align: middle;
        color: transparent;
    }

    &:nth-of-type(2n)
    {
        background-color: $color-front-peach;
    }

    &:nth-of-type(2n+1)
    {
        background-color: $color-front-avocado;
        // background-color: $color-front-straw;
    }

}