.Pins
{

    $side: 50px;

    display: inline-block;
    position: relative;

    width: $side;
    height: $side;

    border: 1px solid black;

    border-radius: 100%;

    line-height: $side;

    text-align: center;

    vertical-align: top;

    margin-left: $space-small;

    span
    {
        font-size: $font-size-small;
        vertical-align: middle;
    }
}