body{
    margin:0;
    padding:0;
}

h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 24px;
    margin-top:30px;
    margin-bottom:30px;
}

h2{
    margin-top:20px;
    margin-bottom:20px;
    font-family: 'Raleway', sans-serif;
    font-size:16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/*Bouton*/
.btn-voyage{
    padding:10px;
    background-color :#FDC279;
    border:1px solid #FFAB50;
    border-radius:10px;
    font-size:14px;
    font-family: 'Raleway', sans-serif;
    color:#ffffff;
    text-decoration:none;
}

.btn-voyage:hover{
    background-color :#DED479;  
    border:1px solid #C1B449;
    transition: all 1s ease-out;
}

.btn-sympa{
    padding:10px;
    background-color :#F3B1A6;
    border:1px solid #EA968B;
    border-radius:10px;
    font-size:14px;
    font-family: 'Raleway', sans-serif;
    color:#ffffff;
    text-decoration:none;
}

.btn-sympa:hover{
    background-color :#DED479;  
    border:1px solid #C1B449;
    transition: all 1s ease-out;
}

/*Champs*/
.champs{
    padding:10px;
    border-radius:10px;
    border:1px solid #CCCCCC;
    background-color:#ffffff;
    color:#808080;
}

/*Checkbox*/

