app-home, div[data-is=app-home]
{
  display: block;
  
  h1
  {
    background-image: none;
  }

  div.content
  {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  div.slider
  {
    background-image: url("/static/images/Image home.jpg");
    background-size: auto 100%;
    background-position: center;
    width: 100%;
    height: 610px;
    background-repeat: no-repeat;

    @media screen and (max-width: 650px)
    {
      background-size: cover !important;
      height: 350px;

    }

  }
  div.ask
  {
    background-image: url("/static/images/fond1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    color: $color-back-secondary;
    padding: $space-normal;

    &>div
    {
      //width: 400px;
      overflow: hidden;;
      margin: auto;
    }
    h1
    {
      color: $color-back-secondary;

    }

    p
    {
      color: $color-back-secondary;
      display: block;

    }

    a
    {
      margin-top: $space-normal;
      font-family: $font-primary;
    }
  }
  div.whom
  {
    display: block;
    margin: auto;
    max-width: 800px;


    padding: $space-big;

    &>div
    {
      text-align: center;
    }
  }

  div.description
  {
    background-image: url("/static/images/vintage-concrete.png");
    padding : $space-normal;
    text-align: center;

    div.tab
    {
      display: inline-block;
      padding: $space-normal;
      width: 200px;
      vertical-align: top;

      @media screen and (max-width: 700px)
      {
        display: block !important;
        margin: auto;
      }

      div.img
      {
        display: block;
        width: 100%;
        height: 100px;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        margin-bottom: 15px;

      }

      h2
      {
        margin-bottom: 15px;
        text-transform: uppercase;
      }



      &.share
      {
        div.img
        {
          background-image: url("/static/images/conversation.svg");
        }
      }

      &.trust
      {
        div.img
        {
          background-image: url("/static/images/heart_plein.svg");
        }
      }

      &.kitchen
      {
        div.img
        {
          background-image: url("/static/images/cooking.svg");
        }
      }
    }
  }
}