app-usereditform, div[data-is=app-usereditform]
{

    app-origininput 
    {
        position: relative;
        z-index: 9999999;
    }

    form>div
    {
        padding: $space-normal;
        margin-bottom: $space-normal;
        border-bottom: 2px dotted $color-front-peach;
    }

    div.dropzone
    {
        margin-top: $space-normal;
    }

    div input+p
    {
        font-size: $font-size-small;
        text-align: center;
    }

    &>div>div
    {
        margin-bottom: $space-normal;
    }
    
    div.base > div, div.more > div
    {
        margin-bottom: $space-normal;
    }

    div.banner
    {
        &>div.img
        {
            border: 1px solid black;
            width: 100%;
            height: 100px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: $space-normal;
        }
            margin-bottom: $space-normal;
        
    }

    div.picture
    {
        &>div.img
        {
            border: 1px solid black;
            width: 100px;
            height: 100px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: auto;
            margin-bottom: $space-normal;
        }
    }

    div.submit
    {
        margin-bottom: $space-normal;
    }
}