app-useritem, div[data-is=app-useritem]
{
    display: block;
    padding: $space-normal;

                    @media screen and (max-width: 650px) {
                                    
                    }

    div.head
    {
        margin-bottom: $space-normal;
                    @media screen and (max-width: 650px) {
            display: inline-block;
            vertical-align: top;
            float: left;
                }

        img
        {
            display: inline-block;
            width: 50px;
            height: 50px;
            vertical-align: middle;
        }

        &>div
        {
            display: inline-block;
            padding-left: $space-small;

            span
            {
                
                display: inline-block;
                width: 100%;
                vertical-align: middle;
            }
        }
    }

    div.body
    {
        margin-bottom: $space-normal;
                    @media screen and (max-width: 650px) {
            display: inline-block;
                }

        div.Hearts
        {
            display: block;
            margin: auto;
            
            margin-bottom: $space-normal !important;


        }

        div.style
        {
            margin-bottom: $space-normal;
            text-align: center;
            span:first-of-type
            {
                display: block;
                font-size: $font-size-small;
            }
            span:last-of-type
            {
                font-size: $font-size-big;
            }
        }

        div.style+div
        {
            text-align: center;
        }
    }

    div.foot
    {
                            @media screen and (max-width: 650px) {

                }
    }
}