app-user, div[data-is=app-user]
{
    &>div
    {
        h1
        {
            color: $color-text-primary;
            background-color: transparent;
            padding-left: 0;
            margin-bottom: $space-small;
        }
        div.banner
        {
            display: block;
            width: 100%;
            height: 190px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        div.head
        {
            margin-top: -60px - $space-small;
            padding: $space-normal;

            &>img
            {
                display: inline-block;
                width: 114px;
                height: 114px;
                border-radius: 100%;

            }

            &>div
            {
                display: inline-block;
                margin-left: $space-normal;
                font-size: $font-size-normal;

                &.identity
                {
                    span
                    {
                        display: block;
                        font-size: $font-size-big;
                        font-family: $font-primary;

                        &:first-of-type
                        {
                            font-family: $font-secondary;
                            font-size: $font-size-big*1.3;
                        }
                    }
                }

            }



            &>a.verified
            {
                display: block;
                vertical-align: initial;
                margin-left: $space-normal;
                font-family: $font-secondary;
            }

        }

        nav
        {
            display: block;
            text-align: center;
            margin: $space-normal;

            input[type=button]
            {
                margin: 0;
                margin-right: $space-small;
            }
        }

        div.description
        {
            margin-left: $space-big;
            margin-right: $space-big;
            margin-bottom: $space-normal;

            p
            {
                font-size: $font-size-normal;
                font-family: $font-primary;
            }

            padding-bottom: $space-normal;
            border-bottom: 1px dotted $color-front-peach;
        }

        div.more
        {
            margin-left: $space-big;
            margin-right: $space-big;
            margin-bottom: $space-normal;

            &>div
            {
                vertical-align: top;
                display: inline-block;
                margin-right: $space-big * 2;
                margin-bottom: $space-normal;
            }

            ul
            {
                padding-left: $space-normal;

                li
                {
                    list-style-type: disc;
                    font-family: $font-primary;
                }
            }
            padding-bottom: $space-normal;
            border-bottom: 1px dotted $color-front-peach;

        }

        div.comments
        {
            padding-left: $space-big;
            padding-right: $space-big;
            margin-bottom: $space-normal;

            h1
            {
                display: inline-block;
            }
            app-hearts
            {
                display: inline-block;
                padding-top: 5px;
                vertical-align: middle;
            }
        }
    }

}
