app-useritem, div[data-is=app-useritem] {
  display: block;
  padding: $space-normal;
  min-width: 210px;

  background-image: url("/static/images/black_paper.png");
  color: $color-back-primary;

  div.head {
    margin-bottom: $space-normal;
    text-align: center;
    img {
      display: inline-block;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      margin-bottom: $space-normal;
    }

    & > div {
      display: block;
      padding-left: $space-small;
      vertical-align: top;

      span {

        display: inline-block;
        font-size: 20px;
        width: 100%;
        vertical-align: middle;
        color: $color-back-primary;
      }
    }
  }

  div.body {
    margin-bottom: $space-normal;

    app-hearts {
      display: block;
      margin: auto;
      width: 100%;
    }
  }

    div.style {
      margin-bottom: $space-normal;
      text-align: center;

      span:first-of-type {
        display: block;
        font-size: $font-size-small;
        color: $color-back-primary;
      }
      span:last-of-type {
        font-size: $font-size-big;
        color: $color-back-primary;
        font-family: $font-secondary;
      }
    }

    div.style + div {
      text-align: center;
      div.pins{
        &:hover, &:active
        {
          color: $color-text-primary;
        }
        &::first-letter
        {
          color: $color-text-primary;
        }
      }
    }


  div.foot {
    input{
      background-color: $color-front-peach;
      color: $color-text-primary;
    }
  }
}