app-usereditform, div[data-is=app-usereditform]
{
    div.left
    {
        display: inline-block;
        width: 45%;
        vertical-align: top;
        padding: $space-normal;

                @media screen and (max-width: 650px) {
            display: block;
            width: 100%;
        }
        
    }

    div.right
    {
        display: inline-block;
        width: 45%;
        vertical-align: top;
        padding: $space-normal;

                @media screen and (max-width: 650px) {
            display: block;
            width: 100%;
        }
    }

    div input+p
    {
        font-size: $font-size-small;
        text-align: center;
    }

    &>div>div
    {
        margin-bottom: $space-normal;
    }
    
    div.base > div, div.more > div
    {
        margin-bottom: $space-normal;
    }

    div.banner
    {
        &>div.img
        {
            border: 1px solid black;
            width: 100%;
            height: 100px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: $space-normal;
        }
            margin-bottom: $space-normal;
        
    }

    div.picture
    {
        &>div.img
        {
            border: 1px solid black;
            width: 100px;
            height: 100px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: auto;
            margin-bottom: $space-normal;
        }
    }

    div.submit
    {
        margin-bottom: $space-normal;
    }
}