app-tabbar
{
  padding-top: $space-normal;
  display: block;
  width: 100%;
  //background-color: $color-front-avocado;
  border-bottom: 10px solid $color-front-peach;
  position: relative;
  background-color: white;

  span
  {
    $height: 32px;
    display: inline-block;
    height: $height;
    padding: $space-normal;
    padding-top: $space-small;
    background-color: $color-front-straw;
    font-family: $font-secondary;
    color: $color-back-primary;
    margin-right: 1px;

    border: 1px solid darken($color-front-straw, 5);


    border-bottom: 0;
    border-top-right-radius: $border-radius;

    cursor: pointer;

    @media screen and (max-width: 600px) {
      display: block;
      margin: auto;
      text-align: center;

      &:first-of-type
      {
        margin-left: 0 !important;
      }

      &:last-of-type
      {
        display: none;
      }
    }

    &:first-of-type
    {
      margin-left: $space-big;
    }

    &:last-of-type
    {
      cursor: initial;
      position: absolute;
      width: 100%;
      height: $height;
      background-color: $color-back-primary;
      border:0;
      &:hover
      {
        background-color: $color-back-primary;

      }
    }

    &.selected, &:hover
    {
      background-color: $color-front-peach;
      border: 1px solid darken($color-front-peach, 5);
      border-bottom: 0;

      &:last-of-type
      {

        border: 0;
      }
    }
  }
}